<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Voznje</title>
</head>
<body>

<table>
	<caption>Voznje</caption>
	<tbody>
		<tr>
			<th>ID</th>
			<th>LinijaId</th>
			<th>Smer</th>
			<th>Polazak</th>
		</tr>
		<tr th:each="v: ${voznje}">
			<td th:text="${v.id}"></td>
			<td th:text="${v.linija.id}"></td>
			<td th:text="${v.smer}"></td>
			<td th:text="${v.polazak}"></td>
		</tr>
	</tbody>
</table><br/><br/>
<p>Brojaci za gradski i prigradski saobracaj:</p>
<p>Prigradski:<span th:text="${prigradski}"></span></p>
<p>Gradski:<span th:text="${gradski}"></span><span/></p>
<!-- ovaj deo koda je ako se iterira kroz recnik. Tu se javlja bug za tabelu linija, gde za kolonu gradski prikazuje false umesto true
<div th:if="${lines == null}">
	<p>Linija nije prosledjena</p>
</div>
<div th:if="${lines != null}">
	<table>
	<caption>Linije</caption>
	<tbody>
		<tr>
			<th>ID</th>
			<th>Redni_broj</th>
			<th>Polaziste</th>
			<th>Odrediste</th>
			<th>Gradski</th>
		</tr>
		<tr th:each="l: ${lines.entrySet}">
			<td th:text="${l.key}">ID</td>
			<td th:text="${l.value.redni_broj}">Redni_broj</td>
			<td th:text="${l.value.polaziste}">Polaziste</td>
			<td th:text="${l.value.odrediste}">Odrediste</td>
			<td th:text="${l.value.gradski}">Gradski</td>
		</tr>
	</tbody>>
</table>
</div>  -->
<table>
	<caption>Linije</caption>
	<tbody>
		<tr>
			<th>ID</th>
			<th>Redni_broj</th>
			<th>Polaziste</th>
			<th>Odrediste</th>
			<th>Gradski</th>
		</tr>
		<tr th:each="l: ${lines}">
			<td th:text="${l.id}"></td>
			<td th:text="${l.redni_broj}"></td>
			<td th:text="${l.polaziste}"></td>
			<td th:text="${l.odrediste}"></td>
			<td th:text="${l.gradski}"></td>
		</tr>
	</tbody>
</table>

</body>
</html>